
/* ---------------------------Navigation Bar---------------------------------------- */
.navigation-bar{
  height: 100vh;
  background-color: black;
  position: fixed;

}

.navigation-bar a{
  font-size: 2rem;
  color:white;
  text-decoration: inherit;
  font-family: 'Lato', sans-serif;

}

.navigation-bar .chapter{
  margin-top:9vh;
  position: relative;
  left:15%;
}

.icons{
  position: relative;
  right: 10%;
  top: 35%;
}

.chapter a:hover{
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {

  .navigation-bar a{
    font-size: 1.7rem;
  }
  .navigation-bar .chapter{
    margin-top:9vh;
  }
}


/* ----------------------------------------Navigation Bar at Smaller Screens------------------ */
.navbar-nav a{
  font-family:"Lato",sans-serif;
}


/* --------------------------------------- Content -------------------------------------------------- */

/* IMG */
.content img{
  width: 102%;
}

#label_1{
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  top:7%;
  left: 13%;
  color: white;
}

#label_2{
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  position: absolute;
  top:10%;
  left: 13%;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .content{
    position: relative;
    left: 15.8%;
  }
  .content img{
    width: 102%;

  }
}

@media only screen and (max-width: 1300px) {
  #label_1{
    font-size: 4rem;
  }
  #label_2{
    font-size: 2rem;
  }

}



/* SECTIONS */


.section{
  padding: 5%;
  font-family: "Lato", sans-serif;
}

.title{
  text-align: center;
}

.section h1{
  font-size: 250%;
  margin-bottom: 8%;
  color: #3C4048;
}

.section h3{
  font-size: 180% ;
  color: #3C4048;
  margin-bottom: 6%;
  margin-top: 8%;
  letter-spacing: 200%;
  font-weight:700;
}

.section h4{
  font-size: 162.5%;
  color: #3C4048;
  margin-bottom: 2%;
  letter-spacing: 60%;

}

.section p{
  font-size: 150% ;
  letter-spacing: 150%;
  margin-top: 3%;
  color: #3C4048;
  font-weight: 300;

}

#resume p{
  font-weight: 300;
}

.section a{
  font-size: 137%;

}

.section li{
  font-size: 137% ;
  letter-spacing: 60%;
  margin-top: 3%;
  color: #181818;
  font-weight:300;
}

#projects h4{
  margin-top: 8%;
}
.tools{
  text-align: center;
}

.tools .row{
  font-size: 125%;
  font-family: "Lato", sans-serif;
  border:1px solid #3C4048;
}



/* Make it responsive */


@media only screen and (max-width: 1200px) {
  #about{
    margin-top: 10%;
  }
  .section h1{
    font-size: 210%;
  }
  .section h3{
    font-size: 140%;
  }
  .section h4{
    font-size: 122.5%;
  }
  .section p{
    font-size: 110%;
  }
  .section li{
    font-size: 100%;
  }
  .tools .row{
    font-size: 100%;
  }

}

@media only screen and (max-width: 992px) {
  .section h1{
    margin-bottom: 16%;
    margin-top: 5%;
  }
  .section h3{
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .section h4{
    margin-bottom: 7%;
  }

  #projects h4{
    margin-top: 15%;
  }

  .section li{
    margin-top: 7%;
  }




}
